*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

}
head{
    justify-content: baseline;
}
body{
   
    min-height: 100vh;
    background-color: #343F4F;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 20PX;
    padding-left: 70px;
    
   
}
H1{
    padding-top: 25px;
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: 60px;
    

}


.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;

}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
   

}
.dynamic-txts li{
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation:slide 6s steps(4) infinite;
}
@keyframes slide  {
    100%{
        top:-360px;
       

    }
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #fc6d6d;
    animation:typing 1.5s steps(15) infinite;
}

@keyframes typing {
    100%{
        left:100%;
        margin: 0 -35px 0 35px;

    }
}
.home{
    display: flex;
    justify-content: center;
}

.home a{
    
   
    padding: 10px;
    font-size: 20px;
    border:3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.home a:hover{
    background-color: red;
}
